.endContentContainer {
  background: #f3f5fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.geniuspyeHeading2 {
  font-family: Nunito;
  font-style: normal;
  font-size: 45px;
  line-height: 60px;
  align-items: center;
  text-align: left;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #000000;
}

.storesDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playStore {
  width: 200px;
  height: auto;
  padding-left: 7px;
}

.appStore {
  width: 200px;
  height: auto;
}

.screens {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -150px;
}
