.secondContentContainer {
  background: #f6f9fb;
  padding-bottom: 50px;
}

.superHeading {
  font-family: Nunito;
  font-style: normal;
  font-size: 45px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 100px;
  max-width: 750px;
  color: #000000;
}

.spanText {
  color: #51c6be;
}

.marketingCardGrid {
  padding-right: 70px;
  padding-left: 70px;
}

.marketingCard {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  padding: 60px;
  height: auto;
  width: auto;
  margin: auto;
  display: flex;
}

.miniImage {
  display: inline-block;
  width: 60px;
  padding: 10px;
  margin: auto;
  vertical-align: middle;
}

.miniImage2 {
  position: absolute;
  margin-left: -50px;
  width: 20px;
  margin: auto;
  vertical-align: middle;
}

.miniTitle {
  display: inline-block;
  font-family: Nunito;
  font-style: normal;
  font-size: 17px;
  align-items: center;
  width: 80px;
  margin: auto;
  vertical-align: middle;
  color: #71c9be;
}

.miniContent {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 129.9%;
  align-items: center;
  color: #d0d0d0;
  max-width: 250px;
}

.joinButtonGrid {
  align-items: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.joinButton {
  background: #51c6be;
  min-width: 400px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-family: Nunito;
  font-style: normal;
  color: #ffffff;
  margin: auto;
  cursor: pointer;
}

.joinButton:hover {
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.arrowIcon {
  vertical-align: middle;
  /* margin-top: -3px; */
  margin-left: 7px;
}

@media (max-width: 648px) {
  .marketingCardGrid {
    padding-right: 10px;
    padding-left: 10px;
  }

  .marketingCard {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 30px;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
  .joinButton {
    min-width: 200px;
  }
}
