.captainToadImage {
  width: 100%;
  height: auto;
}
.topContentGrid {
  margin-top: -400px;
  margin-left: 20px;
  font-family: Nunito;
  font-style: normal;
  color: #ffffff;
}

.subtitle {
  max-width: 400px;
}

.getStartedButton {
  background: #fd8b19;
  padding: 15px;
  border-radius: 4px;
  border: none;
  font-family: Nunito;
  font-style: normal;
  color: #ffffff;
}

@media (max-width: 648px) {
  .topContentDiv {
    position: relative;
    margin-top: 400px;
    margin-bottom: -70px;
    color: #000000;
  }

  .topContentGrid {
    color: #030303;
  }
}
